<%= kase_form.fields_for :contract do |f| %>

    <div class="field">
      <%= f.label :idno %>
      <%= f.text_field :idno %>
    </div>
    <div class="field">
      <%= f.label :correspondent_id %>
      <%= f.select(:correspondent_id, Correspondent.all.collect { |p| [p.name, p.id] }, {:include_blank => true}) %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>
    <div class="field">
      <%= f.label :due_date %>
      <%= f.text_field :due_date, :class => 'date' %>
    </div>
    <div class="field">
      <%= f.label :total_amount %>
      <%= f.number_field :total_amount %>
    </div>
    <div class="field">
      <%= f.label :sign_date %>
      <%= f.text_field :sign_date, :class => 'date' %>
    </div>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane11" data-toggle="tab"><%= t 'activerecord.models.property' %> </a></li>
        <li><a href="#pane12" data-toggle="tab"><%= t 'activerecord.models.guarantee' %></a></li>
        <li><a href="#pane13" data-toggle="tab"><%= t 'activerecord.models.guarantor' %></a></li>
      </ul>
      <div class="tab-content">
        <div id="pane11" class="tab-pane active">
          <h4><%= t 'activerecord.models.property' %></h4>
          <%= render 'property_fields', :contract_form => f %>
        </div>
        <div id="pane12" class="tab-pane">
          <h4><%= t 'activerecord.models.guarantee' %></h4>
          <%= render 'guarantees_fields', :contract_form => f %>
        </div>
        <div id="pane13" class="tab-pane">
          <h4><%= t 'activerecord.models.guarantor' %></h4>
          <%= render 'guarantors_fields', :contract_form => f %>
        </div>
      </div>
    </div>
<% end %>