<%= kase_form.simple_fields_for :contract do |f| %>
    <%= f.input :idno %>
    <%= f.association :correspondent, :collection => Correspondent.all.collect { |p| [p.name, p.id] }, :include_blank => true %>
    <%= f.input :category %>
    <%= f.input :due_date, :as => :string, :html_options => {:class => 'date'} %>
    <%= f.input :total_amount %>
    <%= f.input :sign_date, :as => :string, :html_options => {:class => 'date'} %>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane11" data-toggle="tab"><%= t 'activerecord.models.property' %> </a></li>
        <li><a href="#pane12" data-toggle="tab"><%= t 'activerecord.models.guarantee' %></a></li>
        <li><a href="#pane13" data-toggle="tab"><%= t 'activerecord.models.guarantor' %></a></li>
      </ul>
      <div class="tab-content">
        <div id="pane11" class="tab-pane active">
          <h4><%= t 'activerecord.models.property' %></h4>
          <%= f.simple_fields_for :property do |ff| %>
              <%= render 'property_fields', :f => ff %>
          <% end %>

        </div>
        <div id="pane12" class="tab-pane">
          <h4><%= t 'activerecord.models.guarantee' %></h4>
          <%= link_to_add_association (t 'add_guarantee'), f, :guarantees,
                                      {"data-association-insertion-node" => "#guarantee_list",
                                       "data-association-insertion-method" => "append"} %>
          <%= f.simple_fields_for :guarantees do |ff| %>
              <div id="guarantee_list">
                <%= render 'guarantee_fields', :f => ff %>
              </div>
          <% end %>

        </div>
        <div id="pane13" class="tab-pane">
          <h4><%= t 'activerecord.models.guarantor' %></h4>
          <%= link_to_add_association (t 'add_guarantor'), f, :guarantors,
                                      {"data-association-insertion-node" => "#guarantor_list",
                                       "data-association-insertion-method" => "append"} %>
          <%= f.simple_fields_for :guarantors do |ff| %>
              <div id="guarantor_list">
                <%= render 'guarantor_fields', :f => ff %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>