<%= simple_form_for(@kase) do |f| %>
    <%= render 'shared/validation_error_summary', locals = {:object => @kase} %>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab"><%= t 'activerecord.models.kase' %> </a></li>
        <li><a href="#pane2" data-toggle="tab"><%= t 'activerecord.models.contract' %></a></li>
        <li><a href="#pane3" data-toggle="tab"><%= t 'activerecord.models.installment' %></a></li>
        <li><a href="#pane4" data-toggle="tab"><%= t 'activerecord.models.payment' %></a></li>
      </ul>
      <div class="tab-content">
        <div id="pane1" class="tab-pane active">
          <h4><%= t 'activerecord.models.kase' %></h4>
          <%= f.input :idno %>
          <%= f.association :customer, :collection => Customer.all.collect { |p| [p.person.lastname+ ', ' + p.person.firstname, p.id] }, :prompt => 'Choose an existing owner' %>
          <%= f.input :receipt_date, :as => :string, :input_html => {:class => "date"} %>
          <%= f.input :start_date, :as => :string, :input_html => {:class => "date"} %>
          <%= f.input :finish_date, :as => :string, :input_html => {:class => "date"} %>
          <%= f.association :user, :collection => User.all.collect { |p| [p.name, p.id] }, :include_blank => true %>
          <%= f.input :status %>
        </div>
        <div id="pane2" class="tab-pane">
          <h4><%= t 'activerecord.models.contract' %></h4>
          <%= render 'contract_fields', :kase_form => f %>
        </div>
        <div id="pane3" class="tab-pane">
          <h4><%= t 'activerecord.models.installment' %></h4>
          <%= link_to_add_association (t 'add_installment'), f, :installments,
                                      {"data-association-insertion-node" => "#installment_list",
                                       "data-association-insertion-method" => "append"} %>
          <%= f.simple_fields_for :installments do |ff| %>
              <div id="installment_list">
                <%= render 'installment_fields', :f => ff %>
              </div>
          <% end %>
        </div>
        <div id="pane4" class="tab-pane">
          <h4><%= t 'activerecord.models.payment' %></h4>
          <%= link_to_add_association (t 'add_payment'), f, :payments,
                                      {"data-association-insertion-node" => "#payment_list",
                                       "data-association-insertion-method" => "append"} %>
          <%= f.simple_fields_for :payments do |ff| %>
              <div id="payment_list">
                <%= render 'payment_fields', :f => ff %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= f.button :submit, :class => 'btn-primary' %>
<% end %>