<div class='nested-fields'>
  <%= f.input :amount %>
  <%= f.input :payment_date, :as => :string, :html_options => {:class => 'date'} %>
  <%= f.input :origin_account %>
  <%= f.input :origin_bank %>
  <%= f.input :benef_account %>
  <%= f.input :payment_method %>
  <%= f.input :idno %>
  <div class="control-group column-filler"></div>
  <%= link_to_remove_association (t "remove_payment"), f %>
  <hr class="one-line-hr">
</div>
