<% @kase.payments.each_with_index do |payment, index| %>
    <%= kase_form.fields_for :payments, payment do |f| %>
        <div class="field">
          <%= f.label :amount %>

          <%= f.number_field :amount %>
        </div>
        <div class="field">
          <%= f.label :payment_date %>

          <%= f.text_field :payment_date, :class => 'date' %>
        </div>
        <div class="field">
          <%= f.label :origin_account %>

          <%= f.text_field :origin_account %>
        </div>
        <div class="field">
          <%= f.label :origin_bank %>

          <%= f.text_field :origin_bank %>
        </div>
        <div class="field">
          <%= f.label :benef_account %>

          <%= f.text_field :benef_account %>
        </div>
        <div class="field">
          <%= f.label :payment_method %>

          <%= f.text_field :payment_method %>
        </div>
        <div class="field">
          <%= f.label :idno %>

          <%= f.text_field :idno %>
        </div>
        <hr style="width: 100%; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); ">
    <% end %>
<% end %>
