<h1><%= t ("kases") %></h1>
<%= paginate @kases %>
<table>
  <tr>
    <th><%= Kase.human_attribute_name("kase.idno") %></th>
    <th><%= Kase.human_attribute_name("kase.customer") %></th>
    <th><%= Kase.human_attribute_name("kase.user") %></th>
    <th><%= Kase.human_attribute_name("kase.status") %></th>
    <th><%= Kase.human_attribute_name("kase.receipt_date") %></th>
    <th><%= Kase.human_attribute_name("kase.start_date") %></th>
    <th><%= Kase.human_attribute_name("kase.finish_date") %></th>
    <th></th>
    <th></th>
    <th></th>
</tr>

<% @kases.each do |kase| %>
<tr>
    <td><%= kase.idno %></td>
    <td><%= kase.customer %></td>
    <td><%= kase.user %></td>
    <td><%= kase.status %></td>
    <td><%= kase.receipt_date %></td>
    <td><%= kase.start_date %></td>
    <td><%= kase.finish_date %></td>
    <td><%= link_to (t 'Show'), kase %></td>
    <td><%= link_to (t 'Edit'), edit_kase_path(kase) %></td>
    <td><%= link_to (t 'Destroy'), kase, method: :delete, data: { confirm: (t 'are_you_sure') } %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to (t 'new_kase'), new_kase_path %>
