<p id="notice"><%= notice %></p>
<p>
  <b><%= Kase.human_attribute_name("kase.idno") %> :</b>
  <%= @kase.idno %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.customer") %> :</b>
  <%= @kase.customer %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.user") %> :</b>
  <%= @kase.user %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.status") %> :</b>
  <%= @kase.status %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.receipt_date") %> :</b>
  <%= @kase.receipt_date %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.start_date") %> :</b>
  <%= @kase.start_date %>
</p>

<p>
  <b><%= Kase.human_attribute_name("kase.finish_date") %> :</b>
  <%= @kase.finish_date %>
</p>

<%= link_to (t 'Edit'), edit_kase_path(@kase) %> |
<%= link_to (t 'Back'), kases_path %>
