<h1>Listing installments</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Due date</th>
    <th>Kase</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @installments.each do |installment| %>
  <tr>
    <td><%= installment.amount %></td>
    <td><%= installment.due_date %></td>
    <td><%= installment.kase %></td>
    <td><%= installment.paid %></td>
    <td><%= link_to 'Show', installment %></td>
    <td><%= link_to 'Edit', edit_installment_path(installment) %></td>
    <td><%= link_to 'Destroy', installment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Installment', new_installment_path %>
