<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @installment.amount %>
</p>

<p>
  <b>Due date:</b>
  <%= @installment.due_date %>
</p>

<p>
  <b>Kase:</b>
  <%= @installment.kase %>
</p>

<p>
  <b>Paid:</b>
  <%= @installment.paid %>
</p>


<%= link_to 'Edit', edit_installment_path(@installment) %> |
<%= link_to 'Back', installments_path %>
