<p id="notice"><%= notice %></p>

<p>
  <b>idno:</b>
  <%= @property.idno %>
</p>

<p>
  <b>Category:</b>
  <%= @property.category %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
