<%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#pane1" data-toggle="tab">اطلاعات مشتری</a>
        </li>
        <li><a href="#pane2" data-toggle="tab">آدرس اول</a></li>

      </ul>
      <div class="tab-content">
        <div id="pane1" class="tab-pane active">
          <h4>اطلاعات پایه</h4>
          <%= render 'person_fields', :f=> f %>
        </div>
        <div id="pane2" class="tab-pane">
          <h4>آدرس</h4>
          <%= f.fields_for :addresses do |builder| %>
              <%= render "shared/address/address_fields", :f => builder %>
          <% end %>
        </div>


      </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
