<%= form_for @customer, :validate => true  do |f| %>
    <%= render 'shared/validation_error_summary', locals = {:object => @customer} %>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab"><%= t 'activerecord.models.customer' %></a></li>
        <li><a href="#pane2" data-toggle="tab"><%= t 'activerecord.models.address' %> 1</a></li>
        <li><a href="#pane3" data-toggle="tab"><%= t 'activerecord.models.address' %> 2</a></li>
      </ul>
      <div class="tab-content">
        <%= render 'person_fields', :customer_form => f %>
        <%= f.label :legal_type %>
        <%= f.select(:legal_type, customer_legal_types_options, {:include_blank => true}) %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
