<%= form_for @customer, :validate => true do |customer_form| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <%# TODO%>
          <h2><%= @customer.errors.count %> خطا مانع عملیات شده است:</h2>
          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#pane1" data-toggle="tab">اطلاعات مشتری</a>
        </li>
        <li><a href="#pane2" data-toggle="tab">آدرس اول</a></li>
        <li><a href="#pane3" data-toggle="tab">آدرس دوم</a></li>
      </ul>
      <div class="tab-content">

        <div id="pane1" class="tab-pane active">
          <h4>اطلاعات پایه</h4>
          <%= render 'person_fields', :customer_form => customer_form %>
        </div>

        <%= render "address_fields", :customer_form => customer_form %>
      </div>

      <!-- /.tab-content -->
    </div><!-- /.tabbable -->

    <div class="actions">
      <%= customer_form.submit %>
    </div>

<% end %>
