<%= simple_form_for @customer, :html => {:class => 'form-horizontal'}, :validate => true do |f| %>
    <%= render 'shared/validation_error_summary', locals = {:object => @customer} %>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#pane1" data-toggle="tab">
            <%= t 'activerecord.models.customer' %>
          </a>
        </li>
        <li>
          <a href="#pane2" data-toggle="tab">
            <%= t 'activerecord.attributes.person.addresses' %>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <%= f.simple_fields_for :person do |person_builder| %>
            <%= render 'person_fields', :f => person_builder %>
        <% end %>
      </div>
      <%= f.input :legal_type, :collection => customer_legal_types_options, :include_blank => true %>
    </div>

    <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
