
<%= javascript_include_tag params[:controller] %> 

<%= form_for @customer  do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <%# TODO%>
          <h2><%= @customer.errors.count %> خطا مانع عملیات شده است:</h2>
          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">اطلاعات مشتری</a></li>
        <li><a href="#pane2" data-toggle="tab">آدرس اول</a></li>
        <li><a href="#pane3" data-toggle="tab">آدرس دوم</a></li>
      </ul>
      <div class="tab-content">
        <%= render 'person_fields', :customer_form => f %>
        <%= f.label :legal_type %>
        <%= f.select(:legal_type, customer_legal_types_options, {:include_blank => true}) %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
