<div id="pane1" class="tab-pane">
  <h4>اطلاعات پایه</h4>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :identity_no %>
  <%= f.input :nationalno %>
  <%= f.input :birthdate, :as => :string, :input_html => {:class => "date"} %>
  <%= f.input :identity_serial %>
  <%= f.input :fathername %>
  <%= f.input :identity_issue_date, :as => :string, :input_html => {:class => "date"} %>
  <%= f.input :identity_issue_city %>
  <%= f.input :gender, :collection => person_genders_options, :include_blank => true %>
  <%= f.input :marital_status, :collection => person_marital_options, :include_blank => true %>
  <%= f.input :title %>
  <%= f.input :job_title %>
  <%= f.input :job_position %>
  <%= f.input :job_company %>
  <%= f.input :job_industry %>
  <%= f.input :education, :collection => person_educations_options, :include_blank => true %>
</div>

<div id="pane2" class="tab-pane">
  <div id="address_list">
    <h4>آدرس</h4>
    <%= link_to_add_association (t 'add_address'), f, :addresses,
                                {"data-association-insertion-node" => "#address_list",
                                 "data-association-insertion-method" => "append"}
    %>
    <%= f.simple_fields_for :addresses do |ff| %>
        <%= render "address_fields", :f => ff %>
    <% end %>
  </div>
</div>