<div class="field">
  <%= customer_form.label :firstname %>
  <%= customer_form.text_field :firstname %>
</div>
<div class="field">
  <%= customer_form.label :lastname %>
  <%= customer_form.text_field :lastname %>
</div>
<div class="field">
  <%= customer_form.label :identity_no %>
  <%= customer_form.text_field :identity_no %>
</div>
<div class="field">
  <%= customer_form.label :national_no %>
  <%= customer_form.text_field :national_no %>
</div>
<div class="field">
  <%= customer_form.label :birthdate %>
  <%= customer_form.text_field :birthdate, :class => "date" %>
</div>
<div class="field">
  <%= customer_form.label :identity_serial %>
  <%= customer_form.text_field :identity_serial %>
</div>
<div class="field">
  <%= customer_form.label :fathername %>
  <%= customer_form.text_field :fathername %>
</div>
<div class="field">
  <%= customer_form.label :identity_issue_date %>
  <%= customer_form.text_field :identity_issue_date, :class => "date" %>
</div>
<div class="field">
  <%= customer_form.label :identity_issue_city %>
  <%= customer_form.text_field :identity_issue_city %>
</div>
<div class="field">
  <%= customer_form.label :legal_type %> 
  <%= customer_form.text_field :legal_type %>
</div>
<div class="field">
  <%= customer_form.label :gender %>
  <%= customer_form.select(:gender, person_genders_options, {:include_blank => true}) %>
</div>
<div class="field">
  <%= customer_form.label :marital_status %> 
  <%= customer_form.select(:marital_status, person_marital_statuses_options, {:include_blank => true} ) %>
</div>
<div class="field">
  <%= customer_form.label :title %>
  <%= customer_form.text_field :title %>
</div>
<div class="field">
  <%= customer_form.label :job_title %>
  <%= customer_form.text_field :job_title %>
</div>
<div class="field">
  <%= customer_form.label :job_position %>
  <%= customer_form.text_field :job_position %>
</div>

<div class="field">
  <%= customer_form.label :job_company %>
  <%= customer_form.text_field :job_company %>
</div>
<div class="field">
  <%= customer_form.label :job_industry %>
  <%= customer_form.text_field :job_industry %>
</div>
<div class="field">
  <%= customer_form.label :education %>
  <%= customer_form.text_field :education %>
</div>