<h1><%= t :customers%></h1>

<%= paginate @customers %>

<table id="list-table">
  <tr>
    <th><%= Person.human_attribute_name("person.firstname") %>   </th>
    <th><%= Person.human_attribute_name("lastname") %>  </th>
    <th><%= Person.human_attribute_name("identity_no") %>  </th>
    <th><%= Person.human_attribute_name("nationalno") %>  </th>
    <th><%= Person.human_attribute_name("birthdate") %>  </th>
    <th><%= Person.human_attribute_name("identity_serial") %>  </th>
    <th><%= Person.human_attribute_name("fathername") %>  </th>
    <th><%= Person.human_attribute_name("identity_issue_date") %>  </th>
    <th><%= Person.human_attribute_name("identity_issue_city") %>  </th>
    <th><%= Person.human_attribute_name("gender") %>  </th>
    <th><%= Person.human_attribute_name("marital_status") %></th>
    <th></th>
    <th></th>
    <th></th>
</tr>

<% @customers.each do |cust| %>
  <tr>
    <td><%= cust.person.firstname %></td>
    <td><%= cust.person.lastname %></td>
    <td><%= cust.person.identity_no %></td>
    <td><%= cust.person.nationalno %></td>
    <td><%= cust.person.birthdate %></td>
    <td><%= cust.person.identity_serial %></td>
    <td><%= cust.person.fathername %></td>
    <td><%= cust.person.identity_issue_date %></td>
    <td><%= cust.person.identity_issue_city %></td>
    <td><%= t cust.person.gender %></td>
    <td><%= t cust.person.marital_status %></td>
    <td><%= link_to (t 'Show'), cust %>   </td>
    <td><%= link_to (t 'Edit'), edit_customer_path(cust) %>    </td>
    <td><%= link_to (t 'Destroy'), cust, method: :delete, data: { confirm: (t 'are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_customer), new_customer_path %>
