<h1>Listing guarantors</h1>

<table>
  <tr>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guarantors.each do |guarantor| %>
  <tr>
    <td><%= guarantor.references %></td>
    <td><%= link_to 'Show', guarantor %></td>
    <td><%= link_to 'Edit', edit_guarantor_path(guarantor) %></td>
    <td><%= link_to 'Destroy', guarantor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guarantor', new_guarantor_path %>
