<h1>Listing correspondents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @correspondents.each do |correspondent| %>
  <tr>
    <td><%= correspondent.name %></td>
    <td><%= correspondent.category %></td>
    <td><%= link_to 'Show', correspondent %></td>
    <td><%= link_to 'Edit', edit_correspondent_path(correspondent) %></td>
    <td><%= link_to 'Destroy', correspondent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Correspondent', new_correspondent_path %>
