<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @correspondent.name %>
</p>

<p>
  <b>Category:</b>
  <%= @correspondent.category %>
</p>


<%= link_to (t 'Edit'), edit_correspondent_path(@correspondent) %> |
<%= link_to (t 'Back'), correspondents_path %>
