<p id="notice"><%= notice %></p>

<p>
  <b>Kase:</b>
  <%= @payment.kase %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Payment date:</b>
  <%= @payment.payment_date %>
</p>

<p>
  <b>Origin account:</b>
  <%= @payment.origin_account %>
</p>

<p>
  <b>Origin bank:</b>
  <%= @payment.origin_bank %>
</p>

<p>
  <b>Benef account:</b>
  <%= @payment.benef_account %>
</p>

<p>
  <b>Payment method:</b>
  <%= @payment.payment_method %>
</p>

<p>
  <b>Idno:</b>
  <%= @payment.idno %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
