<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header" >مشتریان</li>
      <li>
        <%= link_to (t "new_customer"), new_customer_path %>
      <li> <%= link_to (t "customers"), customers_path %></li>
      <li class="nav-header">پرونده ها</li>
      <li><%= link_to (t "new_kase"), new_kase_path %></li>
      <li><%= link_to (t "kases"), kases_path%> </li>
<!--       <li><a href="#">عملیات اصلی</a></li>
      <li><a href="#">سایر عملیات</a></li> -->
      <li class="nav-header">ورود و خروج انبوه اطلاعات</li>
      <li><%= link_to (t "etl_import"), etl_import_path %> </li>
    </ul>
  </div>
</div>
