<p id="notice"><%= notice %></p>

<p>
  <b>Referrer:</b>
  <%= @financial_contract.correspondent_id %>
</p>

<p>
  <b>No:</b>
  <%= @financial_contract.no %>
</p>

<p>
  <b>Category:</b>
  <%= @financial_contract.category %>
</p>

<p>
  <b>Due date:</b>
  <%= @financial_contract.due_date %>
</p>

<p>
  <b>Total amount:</b>
  <%= @financial_contract.total_amount %>
</p>

<p>
  <b>Property:</b>
  <%= @financial_contract.property_id %>
</p>

<p>
  <b>Sign date:</b>
  <%= @financial_contract.sign_date %>
</p>


<%= link_to 'Edit', edit_financial_contract_path(@financial_contract) %> |
<%= link_to 'Back', financial_contracts_path %>
